<section class="h-screen w-full bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1601584115197-04ecc0da31d7?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=gabriel-santos-GBVDilE8yvI-unsplash.jpg&w=1920'); min-height: 400px">
</section>
